// Global CSS Variables
$page-padding: 150px;
$mobile-padding: 150px 20px 20px 20px;
$container-padding: 50px;
$mobile-container-padding: 50px 0px;
$section-border: 10px;

// Color Theme
$color-1: #a1cac8;
$color-2: #ffffff;
$color-3: #f5f5f5;
$color-4: #000000;

// Layers
$highest-layer: 2000;
$top-layer: 1000;
$mid-layer: 500;
$bottom-layer: 0;

// Images
$resume-image-size: 70px;

// Borders
$border-thickness: 5px;

// Text
$text-size: 18px;
$line-height: 2;

:export {
    color1: $color-1;
    color2: $color-2;
    color3: $color-3;
    color4: $color-4;
    borderThickness: $border-thickness;
}