@import '../../../styles/variables.scss';

.ProjectPanelContent {
    letter-spacing: 1px;
    color: $color-4;
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}

.subtitle {
    font-size: 14px;
    color: $color-4;
    margin: 10px 0px;
    text-align: center;
    font-weight: 800;
}

.description {
    font-size: 18px;
}

.features {
    border-top: 1px solid $color-1;
    margin: 10px 0px;
    font-size: 14px;
}