@import '../../styles/variables.scss';

.Desktop {
    .SkillSet {
        padding: $page-padding;
        background-color: $color-3;
        color: $color-4;
    }
}


.Mobile {
    .SkillSet {
        padding: $mobile-padding;
        background-color: $color-3;
        color: $color-4;
    }
}